@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

:root {
  font-family: Inter, 'Inter fallback', sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

html {
  scroll-behavior: smooth;
}
