---
import { Icon } from 'astro-icon/components';

export interface Props {
  href: string;
  icon: string;
  alt: string;
}

const { href, icon, alt } = Astro.props;
---

<a href={href} aria-label={alt} class="flex items-center justify-center border border-neutral-700 rounded-full p-2 text-gray-300 hover:bg-neutral-700 transition-colors duration-150" target="_blank" rel="noopener noreferrer">
  <Icon name={icon} class="w-8 h-8" />
</a>
